/* Estilo del Scroll */
*::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    background: #bbbbbb;
}
*::-webkit-scrollbar-thumb {
    background: #004c92;
}

/* Body default Styles */
body {
    margin: 0;
    position: relative;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    min-height: calc(100vh - 50px);
    padding-bottom: 50px;
}

/* Header */
header {
    padding: 15px 10px;
    background-color: #000000;
    color: #ffffff;
    font-weight: bolder;
}
header a{
    width: fit-content;
    display: flex;
    text-decoration: none;
    color: #ffffff;
}
header img{
    height: 18px;
    margin-right: 3px;
}
header span{
    line-height: 0.8;
    font-size: 20px;
}
header .brand-pre{
    color: #79baff;
}

/* Main Content */
#main {
    min-height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    padding: 2vw 0;
    background-color: #fff;
    color: #444;
}
#main .cm-pais {
    width: 85%;
    margin: 0 auto 20px auto;
    background-color: #ffffff;
    box-shadow: 2px 2px 4px 0px #bdbdbd;
    border-radius: 5px;
    padding: 5px 1vw;
}
#main .cm-pais:hover {
    box-shadow: 2px 2px 4px 0px #c8c9dc;
}

/* Modal Styles */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #00000046;
    z-index: 1;
    display: none;
}
.modal.show {
    display: flex;
}
.modal .modal-content {
    min-width: 350px;
    margin: auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    box-shadow: 2px 2px 4px 0px #969696;
}
.modal .modal-header {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    background-color: #bbf7ff;
    padding: 5px;
    text-align: center;
}
.modal .modal-title {
    font-weight: 500;
    color: #000000;
}
.modal .btn-close {
    float: right;
    border-radius: 50px;
    border: none;
    font-size: 1.1rem;
    font-weight: bold;
    background-color: #ffffff;
    cursor: pointer;
}
.modal .btn-close:hover {
    background-color: #e4e4e4;
}
.modal .modal-body {
    display: flex;
    flex-direction: column;
    padding: 10px 15px;
}
.modal .modal-row {
    display: flex;
    flex-direction: row;
    margin: auto 0;
    font-size: 0.9rem;
}
.modal-row .tag-pais {
    min-width: 115px;
    color: #444444;
    font-weight: 500;
}
.modal-row.img-row{
    margin-top: 5px;
    border-top: 1px solid #d6d6d6;
    display: flex;
    flex-direction: row;
}
.modal-row .title-img {
    text-align: center;
    margin-bottom: 10px;
}
.modal-row .modal-col {
    margin: auto;
}
.modal-row .title-img {
    color: #001774;
    font-weight: bold;
}
.modal-row .img-flag-pais, .modal .img-shield-pais {
    max-height: 80px;
}

/* Footer */
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #545454;
    display: flex;
}
footer .info-footer {
    color: #ffffff;
    margin: auto;
    padding: 20px 0;
}
/* Responsividad */
@media (min-width: 563px) and (max-width: 888px) {
    #main {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }
}
@media (max-width: 562px) {
    #main {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(12, 1fr);
    }
}

@media (max-width: 630px) {
    .modal-content {
        max-width: 90vw;
    }
}